<h1>Hello World</h1>

  <p>View All Your Created <a href="/users_ride">Rides</a></p>
  <p>Create Group Ride <a href="/group_rides/new"> Here</a> </p>
  <p>View all rides <a href="/group_rides"> Here </a></p>





