<h1>Hello World</h1>

  <h2>View All Your Created Rides <a href="/users_ride">Here</a></h2>
  <h2>View All Rides You Belong to <a href="/user_group_rides">Here</a></h2>
  <h2>Create Group Ride <a href="/group_rides/new"> Here</a> </h2>
  <h2>View all rides <a href="/group_rides"> Here </a></h2>