<html>
  <body background="/assets//Chicago1.jpg">
    <header> 
      <div class="bike-icon">
        <img src="/assets/bike-icon.png" alt="">
      </div>
      <div class="brand-name">Cycle Chicago</div>
    </header>

    
  </body>







</html>