header {color: white;
      }

body { 
      font-family: 'Fjalla One', sans-serif; 
      color: #74d600;  
        }




#map {
        position: static;
        height: 60%;
        width: 50%;
        left: 40%;
        bottom: 80%
}

a {
    color: #887C54;
  }


.top {
   text-align: center;
   text-decoration: underline;

}

.all_rides {
    margin-top: 30px;


}



 .show-ride {
         position: static;   
        }     

 .nav-bar {
      color: white;
    }

.brand-name {
  text-align: center;
    }

.bike-icon {
    margin-left: 40%;
    }

.simple-cal { 
    text-align: center;
    .has-events {

    }
}

.forms {
        display: list-item;
    }


.simple-calendar {
    text-align: center;
    margin:10px 0px 10px 0px;
    
}




.demo-header {
        text-align: center;
        background: url('assets/img/bg-header.jpg') no-repeat center center scroll;
        color: #fff;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        padding: 100px 0;
    }
    .preview-pane {
        text-align: center;
        margin-bottom: 30px;
        padding: 15px;
    }
    .preview-pane hr {
        max-width: 50px;
        margin: 5px auto;
    }
    .preview-pane a {
        color: #222;
    }
    .preview-pane a:focus {
        outline: none;
    }
    .preview-pane a img {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }
    .preview-pane a:hover img {
        opacity: 0.5;
    }
    .label-primary {
        background-color: #EF4035;
    }
    .cta-list {
        margin-top: 30px;
    }

    

